.subtitulo{
    color: #75553B;
    text-align: center;
    margin-top: 68px;
    margin-bottom: 0;

}
p{
    color: #424242;
    text-align: initial;
    margin: 0;
}
.centrarParrafo {
    text-align: center;
    top: 50px; /* Adjust this value to move the paragraph down */
    z-index: 9; /* Ensure it stays below the title */
}
