.container-museo-tabla {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../AnimacionMuseo/resources/Animacion.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

table {
  width: 70%;
  border-collapse: collapse; /* Asegura que los bordes separen las celdas */
  border-spacing: -6px; /* Espacio entre las celdas */
} 

th, td {
  padding: 8px 2px; /* Reduce el padding para que las columnas estén más pegadas */
  text-align: center; /* Centra el texto en las celdas */
}

th {
  font-size: 50px;
  border-bottom: 0px dashed #000000;
}

td {
  font-size: 40px;
  border-bottom: 1px dashed #000000;
}


.titulo-tabla {
  color: #432B18;
  text-align: center;
  font-family: ABeeZee;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 144%;
  letter-spacing: -1.2px;
  margin-top: -50px;
}

.texto-tabla {
  color: #000;
  font-family: ABeeZee;
  font-size: 50px;
  font-weight: 9000;
}

.encabezado {
  color: #000;
  text-align: center;
  font-family: ABeeZee;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.5px;
  margin-top: 20px;
}

.contenido {
  color: #000;
  text-align: center;
  font-family: ABeeZee;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.48px;
}

.button {
  margin-top: 200px;
  padding: 10px 30px;
  font-size: 35px;
  background-color: #e94d1a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.button:hover {
  background-color: #d03c17;
}

.imagen {
  width: 100px; /* Ancho deseado */
  height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
}
