.acumulador {
    display: flex;
    flex-direction: column;
    width: 80vw; /* Ajusta el ancho en función del ancho de la pantalla */
    max-width: 344px; /* Asegura un ancho máximo */
    position: fixed; /* Mantiene el contenedor fijo en la pantalla */
    left: 50%; /* Centra horizontalmente */
    bottom: 0; /* Toca el borde inferior */
    transform: translateX(-50%); /* Ajusta la posición para centrar */
    z-index: 3;
    justify-content: center;
    padding: 22px;
    align-items: center;
}

@media (max-width: 375px) {
    .acumulador {
        width: 90vw; /* Ajusta el ancho en pantallas más pequeñas */
        padding: 10px; /* Reduce el padding */
    }
}

@media (min-width: 768px) {
    .acumulador {
        width: 50vw; /* Ajusta el ancho en pantallas más grandes */
    }
}

@media (min-width: 1024px) {
    .acumulador {
        width: 344px; /* Mantiene un ancho fijo en pantallas grandes */
    }
}


.txtAcumulador{
    font-size: 16px;
    color: #432B18;
    text-align: center;
    margin: 0;
    padding: 2px 21px;
    margin-bottom: 10px;
}
.simboloscontenedor{
    display: flex;
    flex-direction: row;
    width: 310px;
}

.simboloscontenedor>img{
    width: 78px;
}
.imgBloqueo{
    width: 95px;
}
.imgAnagramaBlock{
    width: 150px;
}
